<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Feed KC</title>
</head>
<body>
<div class="header">
  <div class="navbar">
    <ul>
      <li>Home</li>
      <li>Gallary</li>
      <li>Contact us</li>
      <li>About</li>
      <li></li>
      <li><i class="fa fa-sign-in" style="font-size:24px"></i><a tabindex="-1" routerLink="/registration" routerLinkActive="active"> Sign-in</a></li>
      <li><a tabindex="-1" routerLink="/loginpage" routerLinkActive="active">Login</a></li>
    </ul>
  </div>
</div>
<div class="bodypart" style="width: 99%; height:500px; background-color: #0a535e; margin-left: 5px;">
  <div class="row">
    <div class="col-sm-4" id="image1">
      <img src="../../assets/img/donatefood.gif" alt="mainimage" style="width: 100%; margin: 15%">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="padding-top: 2%; color: white; text-align: center">
      <h1 style="text-align: center">KC Donation</h1><br><br>
      <p>dsfdsfs dfsdfsdfdsf sdfdsfdsfdfdfdf dfdsfdfdsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdf</p><br>
      <p>dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdf</p><br>
      <p>dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf</p><br>
      <p>dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdf</p><br>
      <p>dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdfdsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdf</p><br>
      <p>dsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdfdsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdfdfdsfdfdsfdsfsdfsdfsdfdsfsdfdsfdsfdfdfdf</p><br>
    </div>
  </div>
</div>
</body>
<script src="mainpage.component.ts"></script>
</html>
