<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Donor</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="../../assets/css/oneui.min.css">
</head>
<body>
<div>
     <div>
      <div class="row items-push">
<!--        <button class="btn success pull-left" (click)="openForm()">+Donate</button>-->
        <button class="btn success pull-left" (click)="openDialog()" style="margin-top: 2%; margin-left: 2%;">+Donate</button>
        <h1 class="h1 font-w700 text-black animated fadeInDown fa-pull-left" style="margin-left: 33%; margin-top: 2%; font-size: 50px;">Donor</h1>
        <ul class="nav-header pull-right" style="margin-top: 2%; margin-right: 2%;">
          <li ngbDropdown  class="nav-item dropdown">
            <div class="btn-group">
              <button type="button" ngbDropdownToggle class="btn btn-default btn-image dropdown-toggle" id="navbarDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="border-color: black;">
                <img src="../../assets/img/avatars/avatar10.jpg" alt="Avatar">
                <span class="caret"></span>
              </button>
              <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuButton">
                <ul>
                  <li class="dropdown-header">Profile</li>
                  <li>
                    <a tabindex="-1" href="../profile">
                      Profile<i class="si si-user pull-right" style="margin-right: 22%"></i>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Actions</li>
                  <li>
                    <a tabindex="-1" routerLink="/mainpage" routerLinkActive="active">
                      Log out<i class="si si-logout pull-right" style="margin-right: 22%"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </li>
        </ul>
        <button class="btn success pull-right" style="margin-top: 2%;" (click)="goToHistory()">+History</button>
      </div>
    </div>
</div>

<div class="card">
<!--  <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">-->
  <div id="row">
    <div *ngFor="let item of temp" id="col" class="col-sm-3" style="background-color: whitesmoke;">
      <h1 id="title" style="text-align: center;"> {{item.itemName}} </h1><br>
      <p id="address"><label for="Address">Address:</label> {{item.itemAddress }} </p>
      <p class="price" id="weight" ><label for="price">Weight:</label> {{item.itemWeight}}</p>
      <p class="price" id="expdate" ><label for="price">Expiry Date:</label> {{item.itemExpiry}} </p>
      <p class="price" id="price" ><label for="price">Price: $</label> {{item.itemPrice}} <input type="text" style="visibility: hidden" name="username" [(ngModel)]="username"></p>
      <p style="text-align: center;"><button type="button" style="background-color: slategrey; color: black; width: 20%" (click)="deleteItem(item._id)">Delete</button></p>
    </div>
  </div>
</div>

<div id="donarForm">
  <form id="myForm" #itemData="ngForm" (ngSubmit)="submit(itemData.value)">
    <div class="imgcontainer">
      <img src="../../assets/img/logo.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="category">Category:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="category" name="itemCategory" [(ngModel)]="itemCategory">
          <option value="" selected>--Select--</option>
          <option value="Cloths">Cloths</option>
          <option value="Food">Food</option>
          <option value="Furniture">Furniture</option>
          <option value="Vehicle">Vehicle</option>
          <option value="Medicine">Medicine</option>
          <option value="Other">Other</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;
      <label><b>Item Name</b></label>&nbsp;&nbsp;
      <input type="text" placeholder="Enter Item Name" name="itemName" [(ngModel)]="itemName" required><br>
      <label><b>Address</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" placeholder="Enter Address" name="itemAddress" [(ngModel)]="itemAddress" required><br>
      <label><b>Expiry Date</b>&nbsp;&nbsp;</label><input type="date" value="2017-06-01" name="itemExpdate" [(ngModel)]="itemExpiry">&nbsp;&nbsp;
      <label>Weight/Number</label>&nbsp;<input type="text" style="width: 20%" name="itemWeight" [(ngModel)]="itemWeight">&nbsp;&nbsp;
      <label>Price</label>&nbsp;<input type="text" style="width: 20%" name="itemPrice" [(ngModel)]="itemPrice">
      <input type="text" style="width: 20%; visibility: hidden" name="username" [(ngModel)]="username">
      <input type="date" style="width: 20%; visibility: hidden" name="addeddate" [(ngModel)]="addeddate">
      <input type="text" style="width: 20%; visibility: hidden" name="referenceID" [(ngModel)]="referenceID">
    </div>

    <div class="container" style="background-color:lightgrey">
      <button  class="cancelbtn"  id= submit style="margin-left:5%">Submit</button>
      <button  class="cancelbtn" style="margin-left:30%;" type="button" (click)="closeForm()">Cancle</button>
    </div>
  </form>
</div>
<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="donar.component.ts"></script>
<script src="../../assets/js/oneui.min.js"></script>


</body>
</html>
