.btn {
  /*border: 2px solid black;*/
  background-color: lightsteelblue;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


/* Green */
.success {
  border-color: black;
  border-width: 1px;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

#donarForm {
    line-height: 80%;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  visibility: visible;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 70%;
}

/* Full-width inputs */
input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 35px;
}

/* Set a style for all buttons */
#button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 10%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 100%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */


.card {
  margin: auto;
  /*text-align: center;*/
  font-family: arial;
}

#col {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px;
}


